{% extends "base.html" %}

{% block extrahead %}

    <!-- Verification for Google search -->
    <meta name="google-site-verification" content="sALqmNQZWZ6_5ig5JqIaFiR6AMUotcGG6xFq_fQPt_U" />
    <!-- End of verification for Google search -->

    <!-- Chef AI -->
  <script src="https://cdn.jsdelivr.net/npm/@cookbookdev/docsbot/dist/standalone/index.cjs.js" defer></script>
    <!-- End Chef AI -->

{% endblock %}

{% block scripts %}
  {{ super() }}
  
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQWH3L28"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Chef AI -->
     <div id="__cookbook" data-api-key="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2OGIwZGI4MjM0ZWM1OGQ5MjUyNTU0YjgiLCJpYXQiOjE3NTY0MjA5OTQsImV4cCI6MjA3MTk5Njk5NH0.NyQiKbz8J_-k4sngxoWpB2L_FAKrFgegXf_GTtUzLjU" ></div>
    <!-- End Chef AI -->
     
    
{% endblock %}